name: Build Package & Release to npmjs
on:
  release:
    types: [published]

permissions:
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i
      - run: npm run prepare:build
      - run: npm run build
      - name: Prepare Release
        run: npm run prepare:release ${{ github.ref_name }}
      - name: npm publish
        run: cd dist && npm publish --access public